@page "/resultsfirst"

<h3 style="text-align: center; padding-top: 20px">Results</h3>

<div class="d-flex justify-content-center" style="padding:20px">
    <MudTreeView T="string" ExpandOnClick="true" Class="mx-auto">

        <MudCard Outlined="true" Elevation="3" Style="width: 600px;" Class="mt-3">
            <MudTreeViewItem Value="@("1st Semester")">
                <MudCard Elevation="0" Class="mb-2">
                    <div class="d-flex flex-column">
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px;">Whole Batch Results</MudLink> 
                    </div>
                </MudCard>
            </MudTreeViewItem>
        </MudCard>
        
        <MudCard Outlined="true" Elevation="3" Style="width: 600px;" Class="mt-3">
            <MudTreeViewItem Value="@("2nd Semester")">
                <MudCard Elevation="0" Class="mb-2">
                    <div class="d-flex flex-column">
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px;">Department of Electrical and Information Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Mechanical and Manufacturing Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Civil Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Marine Engineering</MudLink>
                    </div>
                </MudCard>
            </MudTreeViewItem>
        </MudCard>

        <MudCard Outlined="true" Elevation="3" Style="width: 600px;" Class="mt-3">
            <MudTreeViewItem Value="@("3rd Semester")">
                <MudCard Elevation="0" Class="mb-2">
                    <div class="d-flex flex-column">
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px;">Department of Electrical and Information Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Mechanical and Manufacturing Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Civil Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Marine Engineering</MudLink>
                    </div>
                </MudCard>
            </MudTreeViewItem>
        </MudCard>

        <MudCard Outlined="true" Elevation="3" Style="width: 600px;" Class="mt-3">
            <MudTreeViewItem Value="@("4th Semester")">
                <MudCard Elevation="0" Class="mb-2">
                    <div class="d-flex flex-column">
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px;">Department of Electrical and Information Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Mechanical and Manufacturing Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Civil Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Marine Engineering</MudLink>
                    </div>
                </MudCard>
            </MudTreeViewItem>
        </MudCard>

        <MudCard Outlined="true" Elevation="3" Style="width: 600px;" Class="mt-3">
            <MudTreeViewItem Value="@("5th Semester")">
                <MudCard Elevation="0" Class="mb-2">
                    <div class="d-flex flex-column">
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px;">Department of Electrical and Information Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Mechanical and Manufacturing Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Civil Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Marine Engineering</MudLink>
                    </div>
                </MudCard>
            </MudTreeViewItem>
        </MudCard>

        <MudCard Outlined="true" Elevation="3" Style="width: 600px;" Class="mt-3">
            <MudTreeViewItem Value="@("6th Semester")">
                <MudCard Elevation="0" Class="mb-2">
                    <div class="d-flex flex-column">
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px;">Department of Electrical and Information Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Mechanical and Manufacturing Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Civil Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Marine Engineering</MudLink>
                    </div>
                </MudCard>
            </MudTreeViewItem>
        </MudCard>

        <MudCard Outlined="true" Elevation="3" Style="width: 600px;" Class="mt-3">
            <MudTreeViewItem Value="@("7th Semester")">
                <MudCard Elevation="0" Class="mb-2">
                    <div class="d-flex flex-column">
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px;">Department of Electrical and Information Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Mechanical and Manufacturing Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Civil Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Marine Engineering</MudLink>
                    </div>
                </MudCard>
            </MudTreeViewItem>
        </MudCard>

        <MudCard Outlined="true" Elevation="3" Style="width: 600px;" Class="mt-3">
            <MudTreeViewItem Value="@("8th Semester")">
                <MudCard Elevation="0" Class="mb-2">
                    <div class="d-flex flex-column">
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px;">Department of Electrical and Information Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Mechanical and Manufacturing Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Civil Engineering</MudLink>
                        <MudLink Href="/results" Color="Color.Info" Style="margin-left: 50px; margin-top: 10px;">Department of Marine Engineering</MudLink>
                    </div>
                </MudCard>
            </MudTreeViewItem>
        </MudCard>

    </MudTreeView>
</div>

@code {

}
